@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Bree Serif", sans-serif;
  list-style: none;
  font-size: 0.9rem;
  font-weight: lighter;
}

body {
  height: 100dvh;
  background-color: #342E37;
  color: white;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

p+p {
  margin-top: 10px;
}

#itemtrailer {
  padding-top: 10px;
  width: 60vw;
  height: 60vh;
}

.home-top-section {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.home-text-left {
  font-size: 2.9vw;
  letter-spacing: 5px;
  line-height: 40px;
  scale: 0.8;
}

.home-text-right {
  font-size: 2.9vw;
  letter-spacing: 5px;
  line-height: 40px;
  scale: 0.8;
}

.home-mid-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  background-color: #FF8484;
  border-radius: 25px;
  width: 25vw;
  height: 5vh;
  margin: auto;
  margin-top: 20px;
}

.home-mid-under {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  margin: auto;
  margin-top: 10px;
}

.home-phone-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.home-phone-reviews p {
  width: 27.5vw;
}

#home-phone-img {
  width: 20vw;
  margin: auto;
}

.home-phone-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.home-phone-info li {
  list-style-type: disc;
  padding: 10px;
}

.learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: white;
  background-color: #FF8484;
  border-style: none;
  border-radius: 25px;
  width: 18vw;
  height: 7vh;
  margin: auto;
  margin-top: 40px;
  margin-left: 0px;
  cursor: pointer;
}

.learn-more:hover {
  transition: all 0.1s ease;
  scale: 1.03;
  background-color: white;
  color: #FF8484;
}

.learn-more:active {
  scale: 0.98;
  background-color: #dd7272;
  color: white;
}

.head-text{
  padding-top: 50px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.product-card {
  background-color: #5F5464;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  max-width: 600px;
  margin: auto;
}

.product-card h2{
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.product-card img {
  max-width: 100%;
  height: auto;
  width: 200px;
  margin: auto;
  margin-bottom: 15px;
}

.product-card-main {
  margin: 5px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding:auto;
}

.product-card-info span{
  display: flex;
  flex-direction: column;
  color: #FF8484;
  font-size: 1.3rem;
}

.product-card button {
  background-color: #FF8484;
  color: white;
  border: none;
  height: 6vh;
  width: 15vw;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}

.product-card button:hover {
  transition: all 0.1s ease;
  scale: 1.03;
  background-color: white;
  color: #FF8484;
}

.product-card button:active {
  scale: 0.98;
  background-color: #dd7272;
  color: white;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.about-content {
  width: 100%;
}

.text-content {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.text-content h2 {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  width: 18vw;
}

.image-content {
  position: relative;
  width: 100%;
}

.image-content img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.image-text {
  position: absolute;
  bottom: 20px;
  text-align:left;
  right: 52%;
  bottom: 20%;
  padding: 20px;
  width: 40vw;
  max-width: 90%;
}

.image-text h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

footer {
  background-color: #2A252D;
  padding: 40px;
  text-align: center;
}

.footer-elements h2{
  text-align: center;
  position: relative;
  width: 30vw; 
  margin: auto;
  padding-bottom: 25px;
}

.top{
  background-color: #FF8484;
  padding: 8px;
  border-radius: 25px;
}

.top:hover{
  transition: all 0.1s ease;
  background-color: white;
  color: #FF8484;
  cursor: pointer;
  padding: 11px;
}

.top:active{
  background-color: #dd7272;
  color: white;
  padding: 7px;
}

.footerlogo{
  width: 3vw;
  margin-top: 25px;
}

.footer-bot{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer-bot a{
  padding-left: 110px;
  color: #695C70;
}

.footer-contact{
  color: #695C70;
  text-align: left;
}

.footer-rights{
  text-align: right;
  color: #695C70;
  padding-top: 30px;
}

a:hover {
  transition: all 0.1s ease;
  color: #FF8484;

}

.navheader {
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  height: 7dvh;
  width: 4dvh;
  cursor: pointer;
}

a {
  color: white;
}

.navbar .links {
  display: flex;
  gap: 10vh;
  padding-left: 20px;
}

.navbar .toggle-btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.login-btn {
  background-color: #FF8484;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  transition: all 0.1s ease;
  scale: 1.05;
  background-color: white;
}

.login-btn:active {
  scale: 0.95;
  background-color: #dd7272;
  color: white;
}

.navmenu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 200px;
  background: #2A252D;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
}

.navmenu.open {
  height: 170px;

}

.navmenu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navmenu .login-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media(max-width: 992px) {

  .navbar .links,
  .navbar .login-btn {
    display: none;
  }

  .navbar .toggle-btn {
    transition: all 0.5s ease;
    display: block;
  }

  .navmenu {
    display: block;
  }
}

@media(max-width: 576px) {
  .navmenu {
    left: 2rem;
    width: unset;
  }
}