@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Bree Serif", sans-serif;
  list-style: none;
  font-weight: lighter;
}

body {
  background-color: #342E37;
  color: white;
  min-height: 100vh;
  padding: 10px;
}

main {
  max-width: 100%;
  margin-top: 100px;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

a {
  transition: all 0.2s ease;
  color: white;
}

a:hover {
  color: #FF8484;
  letter-spacing: 5px;
}

a:active {
  font-size: 90%;
  color: #dd7272;
}

/* navigation bar */

.nav-section {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2A252D;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 10vh;
  transition: all 0.50s ease;
}

.navbar {
  display: flex;
  padding-left: 30px;
}

.navbar a {
  padding: 5px 0;
  margin: 0 50px;
}

.logo {
  color: #5F5464;
}

.login-btn {
  background-color: #FF8484;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.login-btn:hover {
  background-color: white;
  color: #FF8484;
  transform: scale(1.05);
}

.login-btn:active {
  background-color: #dd7272;
  color: white;
  transform: scale(0.95);
}

/* home section */

.homepage {
  display: flex;
  flex-direction: column;
}

#itemtrailer {
  width: 50%;
  height: 50%;
  max-width: 500ch;
  box-shadow: 1px 8px 43px 7px rgba(0, 0, 0, 0.72);
}

.home-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-text {
  font-size: 200%;
  letter-spacing: 0.2em;
  line-height: 1.2em;
}

.home-text span {
  font-size: 3rem;
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}

.home-text span:hover {
  font-size: 4rem;
  color: #FF8484;
}

.home-mid-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #FF8484;
  border-radius: 25px;
  width: 50%;
  height: 8vh;
  margin: auto;
  margin-top: 4ch;
  box-shadow: 14px 14px 44px -12px rgba(0, 0, 0, 0.72);
}

.home-mid-under {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: auto;
  margin-top: 1ch;
  margin-bottom: 1ch;
}

.home-phone-section {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.home-phone-reviews p {
  max-width: 58ch;
}

#home-phone-img {
  width: 25%;
  max-width: 200ch;
  margin: auto;
  padding-right: 45px;
}

.home-phone-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.home-phone-info li {
  list-style-type: disc;
  padding: 10px;
}

.learn-more {
  display: flex;
  font-size: 100%;
  padding: 0.75em 5em;
  margin: auto;
  margin-left: 6%;
  color: white;
  background-color: #FF8484;
  border-style: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 14px 14px 44px -12px rgba(0, 0, 0, 0.72);
  transition: all 0.1s ease-in-out;
}

.learn-more:hover {
  transform: scale(1.05);
  background-color: white;
  color: #FF8484;
}

.learn-more:active {
  transform: scale(0.98);
  background-color: #dd7272;
  color: white;
}

/* products section */

.head-text {
  padding-top: 2ch;
  padding-bottom: 2ch;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.product-card {
  background-color: #5F5464;
  border-radius: 10px;
  height: 100%;
  box-shadow: 1px 8px 43px 3px rgba(0, 0, 0, 0.32);
}

.product-card h2 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.product-card img {
  width: 50%;
  margin: auto;
}

.product-card-main {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
}

.product-card-info span {
  display: flex;
  flex-direction: column;
  color: #FF8484;
  font-size: 150%;
}

.product-card-info p {
  font-size: 100%;
}

.product-card button {
  background-color: #FF8484;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.7em 5em;
  margin-top: 50px;
  margin-bottom: 10px;
  box-shadow: 14px 14px 44px -12px rgba(0, 0, 0, 0.72);
  transition: all 0.1s ease;
}

.product-card button:hover {
  transform: scale(1.03);
  background-color: white;
  color: #FF8484;
}

.product-card button:active {
  scale: 0.98;
  background-color: #dd7272;
  color: white;
}

/* about us page */

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-text {
  padding-top: 2em;
}

.text-content {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

.text-content span {
  font-size: 2.2rem;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.text-content span:hover {
  font-size: 3rem;
  color: #FF8484;
}

.text-content h3 {
  text-align: center;
  font-size: 2rem;
  padding: 0.5em;
  width: 18vw;
}

.image-content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-image: url("../images/aboutimage.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.image-text {
  padding: 2em;
  width: 40vw;
  max-width: 100%;
}

.image-text h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* footer section */

footer {
  background-color: #2A252D;
  margin-top: 10px;
  padding: 1em;
  text-align: center;
  border-radius: 20px;
}

.main-footer {
  display: flex;
  flex-direction: column;
}

.main-footer h3 {
  font-size: 0.75rem;
  max-width: 60ch;
  line-height: 20px;
  margin: auto;
}

.top {
  background-color: #FF8484;
  padding: 0.4em;
  max-width: 30ch;
  margin: auto;
  margin-top: 10px;
  border-radius: 25px;
  transition: all 0.2s ease;
}

.top:hover {
  background-color: white;
  color: #FF8484;
  cursor: pointer;
  padding: 0.6em;
}

.top:active {
  background-color: #dd7272;
  color: white;
  padding: 0.5em;
}

.footerlogo {
  width: 3vw;
  padding-top: 1em;
  margin: auto;
}

.tag-rights {
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  color: #695C70;
}

.footer-bot {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 5em;
}

.footer-contact {
  color: #695C70;
  text-align: left;
}

.footer-rights {
  text-align: right;
  color: #695C70;
  padding-top: 2.5em;
}

/* login page */

.loginpage {
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-text {
  display: flex;
  padding-top: 1em;
  padding-bottom: 10px;
  font-size: 1.3rem;
}

.login-input {
  background-color: #2A252D;
  color: white;
  border-color: #FF8484;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  height: 15%;
  width: 30vw;
  padding: 10px;
  transition: all 0.5s ease;
}

.login-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 180px;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  background-color: #FF8484;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.login-submit:hover {
  transform: scale(1.05);
  background-color: white;
  color: #FF8484;
}

.login-submit:active {
  transform: scale(0.95);
  background-color: #dd7272;
  color: white;
}

.login-input:focus {
  background-color: #221e24;
}

/* media query responsiveness */

@media (max-width: 991px) {

  main {
    margin-top: 50px;
  }

  /* nav responsive */

  .nav-section {
    height: 8vh;
    transition: 0.2s;
  }

  .navbar {
    font-size: 1rem;
    padding-left: 13px;
  }

  .navbar a {
    padding: 5px 0;
    margin: 0 35px;
  }

  .login-btn {
    padding: 0.4em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 1rem;
    transition: all 0.2s ease;
  }

  /* home section responsive */

  #itemtrailer {
    width: 80%;
  }

  .home-text {
    font-size: 100%;
    letter-spacing: 0.1em;
    line-height: 0.6em;
    max-width: 150ch;
    margin-left: 2em;
    padding: auto;
    padding-bottom: 3em;
    padding-top: 3em;
    transition: 0.2s;
  }

  .home-text span {
    font-size: 1.5rem;
    color: #ffffff;
    transition: all 0.25s ease-in-out;
  }

  .home-text span:hover {
    font-size: 2rem;
    color: #FF8484;
    transition: all 0.25s ease-in-out;
  }

  .home-top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
  }

  .home-mid-text {
    font-size: 1.5rem;
    height: 10%;
    margin-top: auto;
    transition: 0.2s;
  }

  .home-mid-under {
    font-size: 1.5rem;
    transition: 0.2s;
  }

  .home-phone-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transition: 0.2s;
  }

  .home-phone-reviews h2 {
    font-size: 2rem;
    padding-bottom: 10px;
    transition: 0.2s;
  }

  .home-phone-reviews p {
    max-width: 60ch;
    margin: auto;
    text-align: center;
    font-size: 100%;
    transition: 0.2s;
  }

  #home-phone-img {
    width: 60%;
    max-width: 400ch;
    margin: auto;
    padding-top: 10px;
    padding-left: 45px;
    transition: 0.2s;
  }

  .home-phone-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    font-size: 100%;
    transition: 0.2s;
  }

  .home-phone-info li {
    list-style-type: none;
    padding: 7.5px;
    transition: 0.2s;
  }

  .learn-more {
    font-size: 100%;
    margin: auto;
    transition: 0.2s;
  }

  /* products responsive */

  .products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    transition: .2s;
  }

  .product-card {
    width: 80%;
    height: 105%;
    margin: auto;
    transition: .2s;
  }

  .product-card-main img {
    width: 40%;
  }

  .product-card-info button {
    margin: auto;
    margin-top: 10px;
    transition: .2s;
  }

  /* about responsive */

  .head-text {
    padding-top: 4ch;
    transition: .2s;
  }

  .left-box h3 {
    font-size: 1.5rem;
    transition: .2s;
  }

  .left-box span {
    font-size: 2rem;
    transition: .2s;
  }

  .left-box span:hover {
    font-size: 2.25rem;
  }

  .right-box h3 {
    font-size: 1.5rem;
    transition: .2s;
  }

  .right-box span {
    font-size: 2rem;
    transition: .2s;
  }

  .right-box span:hover {
    font-size: 2.25rem;
  }

  .image-text h4 {
    font-size: 1rem;
  }

  .image-text button {
    font-size: 70%;
  }

  /* login responsive */
  
  .login-input {
    height: 50px;
    width: 50vw;
    padding: 10px;
    transition: all 0.5s ease;
  }
  
  .login-submit {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 15px;
    transition: all 0.1s ease;
  }

}

@media (max-width: 523px) {


  main {
    margin-top: 20px;
  }

  /* nav responsive */

  .nav-section {
    height: 8vh;
    transition: 0.2s;
  }

  .navbar {
    font-size: 70%;
    padding-left: 4px;
  }

  .navbar a {
    margin: 0 20px;
    transition: .2s;
  }

  .login-btn {
    padding: 0.6em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 80%;
    transition: all 0.2s ease;
  }

  /* home section responsive */

  #itemtrailer {
    width: 100%;
  }

  .home-text {
    font-size: 100%;
    letter-spacing: 0.1em;
    line-height: 1em;
    max-width: 150ch;
    margin-left: 0;
    padding: auto;
    padding-bottom: 3em;
    padding-top: 3em;
    transition: 0.2s;
  }

  .home-text span {
    font-size: 1rem;
    color: #ffffff;
    transition: all 0.25s ease-in-out;
  }

  .home-top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
  }

  .home-mid-text {
    font-size: 100%;
    margin-top: auto;
    transition: 0.2s;
  }

  .home-mid-under {
    font-size: 1.5rem;
    transition: 0.2s;
  }

  .home-phone-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transition: 0.2s;
  }

  #home-phone-img {
    width: 80%;
    transition: 0.2s;
  }

  .home-phone-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    font-size: 100%;
    transition: 0.2s;
  }

  .home-phone-info li {
    list-style-type: none;
    padding: 7.5px;
    transition: 0.2s;
  }

  .learn-more {
    font-size: 80%;
  }

  /* products responsive */

  .products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    transition: .2s;
  }

  .product-card {
    width: 70%;
    height: 100%;
    transition: .2s;
  }

  .product-card-main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .product-card-main img {
    width: 60%;
  }

  .product-card-info button {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .2s;
  }

  /* about responsive */

  .head-text {
    padding-top: 4ch;
    transition: .2s;
  }

  .left-box h3 {
    font-size: 1rem;
    transition: .2s;
  }

  .left-box span {
    font-size: 1.2rem;
    transition: .2s;
  }

  .right-box h3 {
    font-size: 1rem;
    transition: .2s;
  }

  .right-box span {
    font-size: 1.2rem;
    transition: .2s;
  }

  .image-content {
    background-position: left;
    transition: .2s;
  }

  .image-text h4 {
    font-size: 1rem;
    width: 50vw;
    margin-bottom: 10px;
  }

  .image-text button {
    font-size: 70%;
  }
  
  .login-text {
    font-size: 0.8rem;
    transition: all;
  }
  
  .login-input {
    height: 4.5vh;
    width: 50vw;
    transition: all 0.5s ease;
  }
  
  .login-submit {
    width: 100%;
    height: 12%;
    margin-top: 25px;
    font-size: 1rem;
    transition: all 0.1s ease;
  }
  
}